<div>
    <h1 
    style="display: flex;justify-content: space-around;">Book Recomender</h1>
    <h2 style="display: flex;justify-content: space-around;">Welcome to the Book Recomender</h2>
    <ul style="    display: flex;
    flex-wrap: wrap;">
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top10Authors" style="color: white;
    display: flex;
    justify-content: space-around;">Top10Authors</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top10BooksByMostPublishers" style="color: white;
    display: flex;
    justify-content: space-around;">Top10BooksByMostPublishers</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top10BooksByMostRating" style="color: white;
    display: flex;
    justify-content: space-around;">Top10BooksByMostRating</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top10CountriesByMostBooksWithRatings" style="color: white;
    display: flex;
    justify-content: space-around;">Top10CountriesByMostBooksWithRatings</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top10BooksByRegionsInUSA" style="color: white;
    display: flex;
    justify-content: space-around;">Top10BooksByRegionsInUSA</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top15Publishers" style="color: white;
    display: flex;
    justify-content: space-around;">Top15Publishers</a></li>
        <li style="height: 50px;
        margin: 50px;
        width: 350px;
        background-color: blue;
        color: white !important;"><a href="Top25YearsMostBooksPublished" style="color: white;
    display: flex;
    justify-content: space-around;">Top25YearsMostBooksPublished</a></li>
    </ul>
</div>