<div>
    <h1>Book Recomender</h1>
    <h2>Welcome to the Book Recomender</h2>
    <ul>
        <li><a href="Top10Authors">Top10Authors</a></li>
        <li><a href="Top10BooksByMostPublishers">Top10BooksByMostPublishers</a></li>
        <li><a href="Top10BooksByMostRating">Top10BooksByMostRating</a></li>
        <li><a href="Top10CountriesByMostBooksWithRatings">Top10CountriesByMostBooksWithRatings</a></li>
        <li><a href="Top10BooksByRegionsInUSA">Top10BooksByRegionsInUSA</a></li>
        <li><a href="Top15Publishers">Top15Publishers</a></li>
        <li><a href="Top25YearsMostBooksPublished">Top25YearsMostBooksPublished</a></li>
    </ul>
</div>